

@media screen and (max-width: 450px) {
    
    main, header, footer {
        padding: 1.5rem 1.5rem;
    }

    .gallery h3 {
        display: block;
    }

    .form input {
        max-width: 85vw;
    }
}