

@media screen and (max-width: 800px) {
    
    main, header, footer {
        padding: 1.5rem 4rem;
    }
    
    .hero {
        max-width: 350px;
    }
    
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .footer_info {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        font-size: 0.8rem;
        padding:3rem 0 0 0 ;
    }
    
    .form h4 {
        font-size: 1.5rem;
    }
    
    .form label {
        font-size: 0.8rem;
    }
    
    .form {
        justify-content: flex-start;
    }
    
    .form div {
        padding-top: 0.5rem;
    }

    .form input {
        max-width: 70vw;
    }
}